<a href="https://colab.research.google.com/github/ChintzRuparel/Machine-Learning-College/blob/main/Exp3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from sklearn import preprocessing
import pandas as pd
data = pd.read_csv("bmw1.csv")
column_norm = data['price'].array.reshape(1,-1)
d = preprocessing.normalize(column_norm)
scaled_df = pd.DataFrame(d)
scaled_df.head()

,0,1,2,3,4,5,6,7,8,9,...,10764,10765,10766,10767,10768,10769,10770,10771,10772,10773
0,0.004241,0.010223,0.006058,0.004828,0.004468,0.005869,0.003976,0.00833,0.006248,0.005396,...,0.00443,0.003862,0.00602,0.005415,0.007573,0.007194,0.005528,0.00496,0.00376,0.006051

Warning: Total number of columns (10774) exceeds max_columns (20) limiting to first (20) columns.

In [2]:
import pandas as pd
df=pd.read_csv('bmw1.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10774 entries, 0 to 10773
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   model         10774 non-null  object
 1   year          10774 non-null  int64
 2   price         10774 non-null  int64
 3   transmission  10773 non-null  object
 4   mileage       10772 non-null  float64
 5   fuelType      10774 non-null  object
 6   tax           10773 non-null  float64
 7   mpg           10774 non-null  float64
 8   engineSize    10774 non-null  float64
dtypes: float64(4), int64(2), object(3)
memory usage: 757.7+ KB

In [4]:

import numpy as np
import pandas as pd

df= pd.read_csv('bmw1.csv')

In [7]:

from sklearn.preprocessing import MinMaxScaler
min_max=MinMaxScaler()
new_df=pd.DataFrame(min_max.fit_transform(df[['year','price']]),columns=[['year','price']])
print(new_df.head())

       year     price
0  0.750000  0.081796
1  0.916667  0.211033
2  0.833333  0.121057
3  0.875000  0.094474
4  0.875000  0.086703