<a href="https://colab.research.google.com/github/ChintzRuparel/Machine-Learning/blob/main/ML_Exp5_C072.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
import matplotlib.pyplot as plt
from matplotlib.colors import ListedColormap
train_path = 'players_20.csv'
train = pd.read_csv(train_path)

In [ ]:
display(train.head())

,sofifa_id,short_name,long_name,age,height_cm,weight_kg,nationality,club,Unnamed: 8,Unnamed: 9,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,158023,L. Messi,Lionel Andrés Messi Cuccittini,32,170,72,Argentina,FC Barcelona,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20801,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,187,83,Portugal,Juventus,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,190871,Neymar Jr,Neymar da Silva Santos Junior,27,175,68,Brazil,Paris Saint-Germain,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,200389,J. Oblak,Jan Oblak,26,188,87,Slovenia,Atlético Madrid,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,183277,E. Hazard,Eden Hazard,28,175,74,Belgium,Real Madrid,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
display(train.shape)

(18278, 26)

In [ ]:
X = train.iloc[:, [4,5]].values #input features
Y = train.iloc[:, 3].values #Output features
X_Train, X_Test, Y_Train, Y_Test = train_test_split(X, Y, test_size = 0.25, random_state = 0)
sc_X = StandardScaler()
X_Train = sc_X.fit_transform(X_Train)
X_Test = sc_X.transform(X_Test)

In [ ]:
classifier = LogisticRegression(random_state = 0)
classifier.fit(X_Train, Y_Train)

LogisticRegression(random_state=0)

In [ ]:
Y_Pred = classifier.predict(X_Test)
Y_Pred

array([20, 27, 27, ..., 27, 27, 26])

In [ ]:
cm = confusion_matrix(Y_Test, Y_Pred)
cm

array([[  0,   0,   0,   0,   0,   0,   1,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0],
       [  0,   0,   0,   0,  12,   5,  29,   0,   5,   0,   3,   5,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0],
       [  0,   0,   0,   0,  44,  17,  50,   0,  10,   0,  10,  22,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0],
       [  0,   0,   0,   0,  60,  27,  76,   0,  18,   0,  24,  44,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0],
       [  0,   0,   0,   0,  69,  31, 114,   0,  21,   0,  27,  47,   0,
          0,   1,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0],
       [  0,   0,   0,   0,  58,  40, 116,   0,  27,   0,  34,  68,   0,
          0,   1,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0],
       [  0,   0,   0,   0,  71,  35, 116,   0,  31,   0,  31,  74,   0,
          0,   5,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0],
       [  0,   0,   0,   0,  57,  30, 114,   0,  24,   0,  38,  80,   0,
          0,   2,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0],
       [  0,   0,   0,   0,  38,  27, 104,   0,  29,   0,  42,  66,   0,
          0,   2,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0],
       [  0,   0,   0,   0,  39,  24, 118,   0,  28,   0,  37,  97,   0,
          0,   2,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0],
       [  0,   0,   0,   0,  41,  19,  67,   0,  23,   0,  21,  96,   0,
          0,   6,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0],
       [  0,   0,   0,   0,  46,  29, 112,   0,  18,   0,  32, 112,   0,
          0,   3,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0],
       [  0,   0,   0,   0,  27,  19,  73,   0,  18,   0,  35,  93,   0,
          0,   1,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0],
       [  0,   0,   0,   0,  27,  12,  79,   0,  21,   0,  32,  95,   0,
          0,   1,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0],
       [  0,   0,   0,   0,  10,  11,  86,   0,  15,   0,  20,  84,   0,
          0,   1,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0],
       [  0,   0,   0,   0,  20,  11,  57,   0,  17,   0,  30,  86,   0,
          0,   2,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0],
       [  0,   0,   0,   0,  11,   8,  35,   0,   8,   0,  16,  60,   0,
          0,   2,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0],
       [  0,   0,   0,   0,  12,   7,  37,   0,   8,   0,  12,  49,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0],
       [  0,   0,   0,   0,   5,   0,  25,   0,   6,   0,  10,  35,   0,
          0,   1,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0],
       [  0,   0,   0,   0,   4,   1,  23,   0,   4,   0,   9,  31,   0,
          0,   1,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0],
       [  0,   0,   0,   0,   2,   1,   2,   0,   3,   0,   4,  18,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0],
       [  0,   0,   0,   0,   2,   2,   4,   0,   2,   0,   1,  11,   0,
          0,   0,   0,   0,   0,   0,   1,   0,   0,   0,   0,   0],
       [  0,   0,   0,   0,   1,   0,   2,   0,   0,   0,   1,   3,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   1,   1,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   3,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0]])

In [ ]:
print ("Accuracy : ",accuracy_score(Y_Test, Y_Pred))

NameError: ignored